<div class="right">

  <div class="header">
    <h3>Latest news</h3>
  </div>
  <div class="grey_box">
    <table class="tg">
      <!--
      <p><tr>It is mandatory for travelers to fill out the immigration data form: <a href="https://apps.migracioncolombia.gov.co/pre-registro/en">Immigration Form</a></tr></p>
      <p><tr>Travelers can start to do it 72 hours before the flight and up to one hour before departure. Make sure you do this on time so you do not have issues before boarding your flight. This form needs to be completed both before you enter and before you leave Colombia.</tr></p>
      <p><tr>If you cannot attend the conference due to visa issues or other unexpected issues, please email us if you have not already: <b>sonia.haiduc@gmail.com</b></tr></p>
      <p><tr><b>Tequendama Hotel</b> has free shuttles besides Sundays and holidays, from 10 am to 9 pm every hour. Book your shuttle in advance by sending the request to  <b>reservas.tequendama@ghlhoteles.com</b></tr></p>
      <p><tr><b>Tequendama Suites</b> has an airport shuttle service but at a cost. Book your shuttle in advance by sending the request to  <b>reservations@tequendamasuites.com</b></tr></p>
      <p><tr>IWSC2023 will be held in room <b>RGD 005</b>, which is located in the RGD building on campus, also known as <b>Centro Civico</b>.</tr></p>
      <p><tr>The bus will pick people up behind the Ibis Hotel and leave for the conference venue at <b>8.30 a.m.</b> on Sunday. Coffee will be available all day at the conference, and the registration desk opens at 8 a.m. </tr></p>
      <p><tr>The bus will take people back to their hotels at <b>8 p.m.</b> on Sunday, after the joint reception between IWSC, VISSOFT, and SCAM. </tr></p>
      -->
      <tr>
        <td class="tg-col">It is mandatory for travelers to fill out the immigration data form: <a href="https://apps.migracioncolombia.gov.co/pre-registro/en">Immigration Form</a></td>
      </tr>
      <tr>
        <!-- Below tds are commented for 2023 -->
        <!-- <td class="tg-col">IWSC 2022 attendees should register via the <a
            href="https://cyprusconferences.org/icsme2022/">ICSME 2022 registration system</a>.</td> -->
      </tr>
    </table>
  </div>
  <div class="header">
    <h3>Upcoming deadlines</h3>
  </div>
  <div class="grey_box">
    <table class="tg">
      <tr>
        <td class="tg-col"> Abstract Deadline:</td>
        <td class="tg-col" style="color:red;"> Aug 12 (Sat), 2023 (extended!)</td>
        
      </tr>
      <tr>
        <td class="tg-col"> Paper Deadline: </td>
        <td class="tg-col" style="color:red;">Aug 12 (Sat), 2023 (extended!)</td>
       <!-- <td class="tg-col"><strike>July 8, 2022</strike><br /> July 8 (Fri), 2023</td> -->
      </tr>
      <tr>
        <td class="tg-col">Author Notification:</td>
        <td class="tg-col">Aug 22 (Tue), 2023</td>
      </tr>

      <tr>
        <td class="tg-col"> Camera Ready Deadline:</td>
        <td class="tg-col">Aug 26 (Sat), 2023, (Hard deadline)</td>
      </tr> 
    </table>
    <p style="text-align:center">All dates are 23:59:59 AoE (UTC-12h)</p>
  </div>
<!-- Twitter Box -->
 <!-- <div class="header">
    <h3>Twitter</h3>
  </div>
  <div class="grey_box">
    <!---
        <a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/iwsc2020">Tweets by IWSC</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        --->
    <!-- <a class="twitter-timeline" height="500" data-tweet-limit="5" href="https://twitter.com/IWSC2022">Tweets by
      iwsc2022</a>  -->
   <!--  <a class="twitter-timeline" height="500" data-tweet-limit="5" href="#">Tweets by
      iwsc2023</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> -->

  <div class="header">
    <h3>Facebook</h3>
  </div>
  <div class="grey_box">

    <div class="fb-page" data-href="https://www.facebook.com/iwsc.workshop/" data-tabs="timeline" data-width=""
      data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
      data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/iwsc.workshop" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/iwsc.workshop">IWSC 2023</a></blockquote>
    </div>


    <!---
      <div class="fb-page" data-href="https://www.facebook.com/iwsc.workshop"
          data-tabs="timeline" data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="true" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/iwsc.workshop" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/iwsc.workshop">International Workshop on Software Clones</a>
          </blockquote>
      </div>
      --->
  </div>
</div>
