<div class="right">

    <div class="header">
      <h3>Latest news</h3>
    </div>
    <div class="grey_box">
      <table class="tg">
        <tr>

        <tr>
          <td class="tg-col">IWSC 2020 attendees should register via the <a href="https://saner2020.csd.uwo.ca/">SANER 2020 registration system</a>.</td>
        </tr>
        <tr>
          <!---<th class="tg-col">List of accepted papers: <a href="https://iwsc2019.github.io/pages/program.html">here</a>.</th>--->
          <th class="tg-col">List of accepted papers: TBD.</th>
        </tr>
      </table>
    </div>
    <div class="header">
      <h3>Upcoming deadlines</h3>
    </div>
    <div class="grey_box">
      <table class="tg">
        <tr>
          <td class="tg-col">Paper Abstracts:</td>
          <td class="tg-col"><del>15 Dec 19 AoE</del> <br/> 20 Dec 19 AoE</td>
        </tr>
        <tr>
          <td class="tg-col">Paper Submission:</td>
          <td class="tg-col">20 Dec 19 AoE</td>
        </tr>
      </table>
    </div>
    <div class="header">
      <h3>Twitter</h3>
    </div>
    <div class="grey_box">
    	<!---
        <a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/iwsc2020">Tweets by IWSC</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        --->
        <a class="twitter-timeline" height="500" data-tweet-limit="5" href="https://twitter.com/IWSC2020">Tweets by iwsc2020</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="header">
      <h3>Facebook</h3>
    </div>
    <div class="grey_box">

	  <div class="fb-page" data-href="https://www.facebook.com/iwsc.workshop/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/iwsc.workshop" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iwsc.workshop">IWSC 2020</a></blockquote></div>


      <!---
      <div class="fb-page" data-href="https://www.facebook.com/iwsc.workshop"
          data-tabs="timeline" data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="true" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/iwsc.workshop" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/iwsc.workshop">International Workshop on Software Clones</a>
          </blockquote>
      </div>
      --->
    </div>
  </div>
