---
# Front matter comment to ensure Jekyll properly reads file.
---

/*
  Site variables
*/

$base-font-family: 'Roboto', sans-serif;

$body-font-family: 'Roboto', sans-serif;

$brand-color: black;

$container-width: 1200px;

$tablet-width: 600px;

$phone-width: 480px;

$header-thickness: 56px;

@import "_sass/-sections-dir";
