---
layout: default
title: Home
---

<!---<div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/Pagoda_on_Lake_\(2514\).jpg ">--->
<div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/bogota-colombia-night-view-from-the-top-wallpaper-preview.jpg ">
  <div class="sheep_herd">
    <table cellpadding="0" width="100%">
      <tr>
        <td><span class="sheep sheep_white" /></td>
        <td><span class="sheep sheep_black" /></td>
        <td><span class="sheep sheep_black_white" /></td>
        <td><span class="sheep sheep_white" /></td>
        <td><span class="sheep sheep_black" /></td>
        <td width="90%" align="right" text="#ffffff" style="padding-left: 50px;">&nbsp;<h2>17th International Workshop on Software
            Clones (IWSC 2023)</h2>
        </td>
      </tr>
      <tr>
        <td><span class="sheep sheep_black" /></td>
        <td><span class="sheep sheep_black_white" /></td>
        <td><span class="sheep sheep_white" /></td>
        <td><span class="sheep sheep_black_white" /></td>
        <td><span class="sheep sheep_white" /></td>
        <td text="#ffffff" align="right">&nbsp;<h3>October 1, 2023, Bogota, Colombia</h3>
        </td>
      </tr>
      <tr>
        <td colspan="6" align="right" text="#ffffff">
          <h3>In conjunction with <a href="https://conf.researchr.org/home/icsme-2023/" target="_blank">(ICSME 2023)</a></h3>
        </td>
      </tr>
    </table>
    <!-- <div id="sheep">
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black"></span><br />
      <span class="sheep sheep_black"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
    </div> -->
  </div>

  <!---
  <div>
  <h2><span>14th International Workshop on Software Clones</span></h2>
  <h3><span>18 February 2020, London, Ontario, Canada</span> </h3>
  <h3><span>In conjunction with <a href="http://saner2020.csd.uwo.ca" target="_blank">SANER 2020</a></span></h3>
  </div>
  --->

</div>

<div class="body_layout">

  <div class="left">
    <!--
      <hr />
      <div class="emphasized_box">
        <b>Accepted Papers & Schedule</b><br />
        The IWSC 2018 schedule and the list of accepted papers can be found on the <a href="https://iwsc2018.github.io/pages/program.html">Program</a> page.
      </div>
      <hr />

-->
    <hr />

 <!--  Commented By Khairul for best paper Award -->
 <!-- <  <h3>Best Paper Award 🎉 </h3>
    <p>
      Khairul Alam Krinke and Chaiyong Ragkhitwetsagul.
      <br>
      <i>
        BigCloneBench Considered Harmful for Machine Learning
      </i>

    </p>

    <h3>People's Choice Award 🎉</h3>

    <p>
      Jens Krinke and Chaiyong Ragkhitwetsagul.
      <br>
      <i>
        BigCloneBench Considered Harmful for Machine Learning
      </i>

    </p>
    <p>
      Rainer Koschke and Marcel Steinbeck.
      <br>
      <i>
        City of Clones
      </i>

    </p>

    <h3>Student Encourgement Award 🎉</h3>

    <p>
      Khairul Alam Schäfer, Wolfram Amme and Thomas Heinze.
      <br>
      <i>
        Experiments on Code Clone Detection and Machine Learning
      </i>

    </p>
    <p>
      Gonzague Yernaux and Wim Vanhoof.
      <br>
      <i>
        On Detecting Semantic Clones in Constraint Logic Programs
      </i>

    </p>  -->

   <!-- <h3>Clones Lifetime Achievement Award 🎉</h3>

    <p>
      Professor Katsuro Inoue.

    </p>

    <hr /> -->

    <p>Software clones are often a result of copying and pasting as an act of ad-hoc reuse by programmers. This was
      often seen at the project-level, however, due to emerging technology stacks, developers and researchers are paying
      attention to the ecosystem-level. Hence, the software cloning community is extending target topics to include
      various types of software clones at the ecosystem level, with examples such as project cloning, clones in
      ecosystems, project similarity and so on.</p>
    <p>Clones are not limited to only source code, and can occur at the software system (from simple statement sequences
      to blocks, methods, classes, source files, subsystems, models, architectures, etc) to the entire software
      ecosystem (inter-dependent software systems, libraries), and occur in all software artifacts (source code,
      binaries, configuration build files, models, requirements or architecture documentation, etc ). Software clone
      research is of high relevance for software engineering research and practice today.</p>
    <p>IWSC series of events has provided a common forum for this important 
      research area as it continues to grow in application breadth and 
      technical depth. IWSC aims to bring researchers and practitioners to 
      evaluate the current state of research, discuss common problems and 
      emerging directions. Also, we are interested in discussing and spreading 
      practical applications of clone technologies. Further details about are here on this website <a href="https://iwsc2023.github.io" target="_blank">IWSC 
      2023</a>
      </p>
    
    <h3>TOPICS OF INTEREST:</h3>
    <p>A partial list of the topics is as follows:
    <ul>
      <li>Techniques and studies of clone detection, search, analysis, and management</li>
      <li>Cloning at the ecosystem-level</li>
      <li>Role of clones in software system evolution</li>
      <li>Tools and systems for detecting software clones</li>
      <li>Use cases for clones and clone management in the software lifecycle</li>
      <li>Experiences with clones and clone management in practice</li>
      <li>Types and nature of clones in software systems</li>
      <li>Clone evolution and variation</li>
      <li>Causes and effects of clones</li>
      <li>Clone and clone pattern visualization</li>
      <li>System architecture and clones</li>
      <li>Effect of clones to system complexity and quality</li>
      <li>Clone analysis in families of similar systems</li>
      <li>Measures of clone similarity</li>
      <li>Economic and trade-off models for clone management</li>
      <li>Evaluation and benchmarking of detection methods</li>
      <li>Licensing and plagiarism issues</li>
      <li>Clone-aware software design and development</li>
      <li>Refactoring through clone analysis</li>
      <li>Other applications of clone detection and analysis</li>
    </ul>
    </p>
  </div>
<!-- Removing sidebar now, it will be added future -->
  {% include sidebar.html %}
</div>
