---
layout: default
title: Home
---

<!---<div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/Pagoda_on_Lake_\(2514\).jpg ">--->
<div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/buildings.jpg ">
  <div class="sheep_herd">
    <table cellpadding="0" width="100%">
        <tr>
          <td><span class="sheep sheep_white" /></td>
          <td><span class="sheep sheep_black" /></td>
          <td><span class="sheep sheep_black_white" /></td>
          <td><span class="sheep sheep_white" /></td>
          <td><span class="sheep sheep_black" /></td>
          <td width="90%" align="right" style="padding-left: 50px;">&nbsp;<h2>14th International Workshop on Software Clones</h2></td>
        </tr>
        <tr>
          <td><span class="sheep sheep_black" /></td>
          <td><span class="sheep sheep_black_white" /></td>
          <td><span class="sheep sheep_white" /></td>
          <td><span class="sheep sheep_black_white" /></td>
          <td><span class="sheep sheep_white" /></td>
          <td  align="right">&nbsp;<h3>18 February 2020, London, Ontario, Canada</h3></td>
        </tr>
        <tr>
        	<td colspan="6" align = "right"><h3>In conjunction with <a href="http://saner2020.csd.uwo.ca" target="_blank">SANER 2020</a></h3></td>
        </tr>
    </table>
    <!-- <div id="sheep">
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black"></span><br />
      <span class="sheep sheep_black"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
      <span class="sheep sheep_black_white"></span>
      <span class="sheep sheep_white"></span>
    </div> -->
  </div>

  <!---
  <div>
  <h2><span>14th International Workshop on Software Clones</span></h2>
  <h3><span>18 February 2020, London, Ontario, Canada</span> </h3>
  <h3><span>In conjunction with <a href="http://saner2020.csd.uwo.ca" target="_blank">SANER 2020</a></span></h3>
  </div>
  --->

</div>

<div class="body_layout">

  <div class="left">
<!--
      <hr />
      <div class="emphasized_box">
        <b>Accepted Papers & Schedule</b><br />
        The IWSC 2018 schedule and the list of accepted papers can be found on the <a href="https://iwsc2018.github.io/pages/program.html">Program</a> page.
      </div>
      <hr />
-->
      <p>Software clones are often a result of copying and pasting as an act of ad-hoc reuse by programmers, and can occur at many levels, from simple statement sequences to blocks, methods, classes, source files, subsystems, models, architectures and entire designs, and in all software artifacts (code, models, requirements or architecture documentation, etc.). Software clone research is of high relevance for software engineering research and practice today.</p>
      <hr />
      <p>A partial list of the topics is as follows (this list is by no means exhaustive, and it is a goal of the workshop to further extend it):
        <ul>
          <li>Use cases for clones and clone management in the software lifecycle</li>
          <li>Experiences with clones and clone management in practice</li>
          <li>Types and nature of clones in software systems</li>
          <li>Causes and effects of clones</li>
          <li>Techniques and algorithms for clone detection, search, analysis, and management</li>
          <li>Clone and clone pattern visualization</li>
          <li>Tools and systems for detecting software clones</li>
          <li>Applications of clone detection and analysis</li>
          <li>System architecture and clones</li>
          <li>Effect of clones to system complexity and quality</li>
          <li>Clone analysis in families of similar systems</li>
          <li>Measures of code similarity</li>
          <li>Economic and trade-off models for clone removal</li>
          <li>Evaluation and benchmarking of detection methods</li>
          <li>Licensing and plagiarism issues</li>
          <li>Clone-aware software design and development</li>
          <li>Refactoring through clone analysis</li>
          <li>Higher-level clones in models and designs</li>
          <li>Clone evolution and variation</li>
          <li>Role of clones in software system evolution</li>
        </ul>
      </p>
  </div>

  {% include sidebar.html %}
</div>
